@import url("https://use.typekit.net/jmk3xov.css");
:root {
  --dark-bg: rgba(15, 15, 15, 0.525);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  background: linear-gradient(to right, #4eccc6d3 0%, rgb(115, 0, 255) 100%);
  background-clip: text;
  color: transparent;
  grid-column: 2 / span 11;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 1rem;
  background: rgba(15, 15, 15, 0.525);
  font-size: 1.25rem;
  grid-column: 11;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote ul li {
  font-weight: normal;
}

.left {
  grid-column: 2 / 6;
}

.right {
  grid-column: 6 / 12;
}

body, header, section, blockquote {
  border-radius: 50px;
} 

/* Styles for screens with a maximum width of 767 pixels (mobile) */
@media only screen and (max-width: 767px) {
  header, section, blockquote, .left, .right {
    grid-column: span 11;
    margin-left: 10px;
    margin-right: 10px;
  }

  header {
    background: linear-gradient(to right, #25c7bf 0%, #2e0264 100%);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: var(--spacing);
  }

  section {
    background: var(--dark-bg);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    background: rgba(15, 15, 15, 0.525);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote ul li {
    font-weight: normal;
  }

  .left, .right {
    grid-column: span 11;
  }

  /* Additional styles for smaller screens if needed */
  /* Example: Adjust padding, font sizes, etc. */
  body {
    padding: 10px;
    font-size: 14px;
  }
}
